#AlgorithmUpdater{
    position: fixed;
    left: 40%;
    top: 10%;
    background-color: white;
    z-index: 15;
    display: flex;
}

#shadow{
    background-color: gray;
    opacity: 0.75;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
}