@import "../../common.scss";
#AlgorithmUpdater{
    position: fixed;
    left: 40%;
    top: 10%;
    background-color: $color-background;
    z-index: 15;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:1%;
    textarea{
        resize: none;
        font-family: $font-main !important;
        margin:1%;
        width:100%;
        order:1;
    }
    button{
        width:43%;
        font-family: $font-main !important;
        order:2;
        margin:1%;
        background-color: $color-main;
        border: 1px solid;
        padding:2%;
    }
    button:hover{
        background-color: $color-background;
        cursor: pointer;
    }
}

#shadow{
    background-color: gray;
    opacity: 0.75;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
}