@import "../../common.scss";
.main-header{
    width: 100%;
    .container{        
        background-color: $color-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            flex:1;
            font-weight: 400;
            color:$color-main;
            font-size:2em;
        }
    }
}

#updateButton{
    position: fixed;
    top: 2%;
    right: 1%;
    font-size:1em;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    #updateButton{
        display: none !important;
    }
}