@import "../../common.scss";
#stockName{
    margin: 0;
    flex:1;
    color:$color-secondary;
}

#result{
    justify-content: space-between;
}

@media screen and (max-width: $width-responsiveness) {
    #result{
        flex-direction: column;
    }
}