@import "../../common.scss";
.stockInfoBase{
    table {
        border-collapse: collapse;
        width: 90%;
        cursor: context-menu;
        margin: 1% auto;
    }
    th {
        font-weight:400;
    }
    td{
        font-weight:200;
    }
    td, th {
        text-align: center;
        padding: 8px;
    }

    .recommendation-sell{
        background-color:$color-sell;
        color:$color-main;
    }

    .recommendation-buy{
        background-color:$color-buy;
        color:$color-main;
    }
    .recommendation-buy:hover{
        background-color:$color-buy-hover;
    }
    .recommendation-sell:hover{
        background-color:$color-sell-hover;
    }
    .recommendation-hold:hover{
        background-color:$color-hold-hover;
    }
}

#recommendations{
    overflow:auto; 
}