$color-main: white;
$color-secondary:#405245;
$color-third: #3f6c4c;
$color-background: #F7F7F7;
$color-buy:#6bb84a;
$color-sell:#ff006a;
$font-main: 'Roboto Condensed', sans-serif;

.text{
    font-family: $font-main;
    color:$color-secondary;
}