$color-main: #00d8ff;
$color-secondary: #2ecae6;
$color-background: #FFFFFF;
$color-buy:#6bb84a;
$color-sell:#ff006a;
$font-main: 'Roboto Condensed', sans-serif;

.text {
    font-family: $font-main;
    color:whitesmoke;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    width: 100vw;
    background-color: $color-background;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section {
    padding: 2rem;
    border-radius: 15px;
    background-color: $color-main;
    margin: 2%;
    display: flex;
    width: 60%;
}

.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60vh;
    width: 100%;
    flex-direction: column;
}

.main-header{
    width: 100%;
    .container{        
        background-color: $color-main;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            @extend .text;
            font-weight: 400;
        }
    }
}

#userInputs{
    input{
        border:0;
        border-bottom: 1px solid $color-secondary;
        background-color: $color-secondary;
        font-weight:300;
        @extend .text;     
    }
    align-content: center;
    justify-content: center;
}

.socialMedia-pieChart{
    display: flex; 
    width: 20%; 
    height: 20%; 
    border-radius: 50%; 
}

#stockName{
    @extend .text;
    margin: 0;
    flex:2;
}

#result{
    justify-content: space-between;
}

#recommendations{
    flex:1;
}

#socialMediaInfos{
    flex:2;
}

table {
    @extend .text;
    border-collapse: collapse;
    width: 100%;
    cursor: context-menu;
  }
  th {
    font-weight:400;
  }
  td{
    font-weight:200;
  }
  td, th {
    text-align: center;
    padding: 8px;
  }

  .recommendation-sell{
    background-color:$color-sell;
}

.recommendation-buy{
    background-color:$color-buy;
}