$color-main: white;
$color-secondary:#405245;
$color-third: #3f6c4c;
$color-background: #F7F7F7;
$color-buy:#6bb84a;
$color-sell:#ff006a;
$font-main: 'Roboto Condensed', sans-serif;
$section-height: 400px;

.text{
    font-family: $font-main;
    color:$color-secondary;
}

body {
    @extend .text;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    width: 100vw;
    background-color: $color-background;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section {
    padding: 2rem;
    border-radius: 15px;
    background-color: $color-main;
    margin: 2%;
    display: flex;
    width: 60%;
}

.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60vh;
    width: 100%;
    flex-direction: column;
}

.main-header{
    width: 100%;
    .container{        
        background-color: $color-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            flex:1;
            font-weight: 400;
            color:$color-main;
            font-size:2em;
        }
    }
}

#updateButton{
    position: fixed;
    top: 2%;
    right: 1%;
    font-size:1em;
    cursor: pointer;
}

#userInputs{
    input{
        @extend .text;
        border:0;
        border-bottom: 1px solid $color-secondary;
        background-color: $color-background;
        font-weight:300;   
    }
    align-content: center;
    justify-content: center;
}

.socialMedia-pieChart{
    border-radius: 50%; 
    width: 90%;
    height: 90%;
    margin: 1% auto;
}

#socialMediaInfos{
    flex-direction: column;
    align-content: center;
}

#stockName{
    margin: 0;
    flex:1;
    color:$color-secondary;
}

#result{
    justify-content: space-between;
}

.stockInfoBase {
    flex:2;
    background-color:$color-background;
    display: flex;
    justify-content: center;
    margin: 1%;
    max-height: $section-height; 
    min-height: $section-height; 
}

table {
    border-collapse: collapse;
    width: 90%;
    cursor: context-menu;
    margin: 1% auto;
  }
  th {
    font-weight:400;
  }
  td{
    font-weight:200;
  }
  td, th {
    text-align: center;
    padding: 8px;
  }

  .recommendation-sell{
    background-color:$color-sell;
}

.recommendation-buy{
    background-color:$color-buy;
}

#socialMediaCounter{
    flex:1;
    margin: auto;
    font-weight:200;
}

#recommendations{
    overflow:auto; 
}